.bicicleta-seguro-bg {
  background-color: var(--c11);
  box-shadow: inset 0 -120px var(--c12), inset 0 120px var(--c0);
}

.bicicleta-seguro-conteudo {
  padding-top: 180px;
  padding-bottom: 180px;
}

.bicicleta-seguro-conteudo h2 {
  color: var(--c0);
  font-size: 4rem;
  line-height: 1.125;
}

.bicicleta-seguro-conteudo p {
  color: var(--c5);
  font-size: 1.5rem;
  line-height: 1.33;
  margin-top: 32px;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .bicicleta-seguro-bg {
    box-shadow: inset 0 -60px var(--c12);
  }

  .bicicleta-seguro-imagem {
    grid-row: 2;
  }

  .bicicleta-seguro-conteudo {
    padding-top: 40px;
    padding-bottom: 8px;
    position: relative;
  }

  .bicicleta-seguro-conteudo h2 {
    font-size: 3rem;
    max-width: 15ch;
  }

  .bicicleta-seguro-conteudo p {
    font-size: 1.125rem;
    max-width: 40ch;
  }

  .bicicleta-seguro-conteudo::after {
    content: "";
    display: block;
    height: 52px;
    width: 52px;
    position: absolute;
    background-image: url(../img/dec/top-right.svg);
    top: 40px;
    right: 20px;
  }
}

@media (max-width: 400px) {
  .bicicleta-seguro-conteudo h2 {
    font-size: 2.5rem;
    max-width: 15ch;
  }

  .bicicleta-seguro-conteudo::after {
    display: none;
  }
}
