.footer-bg {
  background-color: var(--c12);
}

.footer-conteudo {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-conteudo h3 {
  color: var(--c0);
  text-transform: uppercase;
  margin-bottom: 32px;
}

.footer-contato-dados li:nth-child(even)::after {
  content: "";
  display: block;
  max-width: 360px;
  height: 2px;
  background: var(--c11);
  margin-top: 16px;
}

.footer-contato-redes {
  margin-top: 20px;
  display: flex;
  gap: 32px;
}

.footer-conteudo li {
  color: var(--c5);
}

.footer-conteudo li {
  margin-top: 16px;
}

.footer-copy {
  color: var(--c6);
  font-size: 1.125rem;
  line-height: 1.77;
  padding-bottom: 32px;
}

.footer a {
  transition: 0.3s;
}

.footer a:hover {
  color: var(--c0);
}

@media (max-width: 800px) {
  .footer-conteudo {
    grid-template-columns: 1fr 1fr;
  }

  .footer-conteudo-img {
    display: none;
  }
}

@media (max-width: 600px) {
  .footer-conteudo {
    grid-template-columns: 1fr;
    padding-bottom: 40px;
    gap: 60px;
  }
}
