.form {
  gap: 20px;
}

.form label {
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 4px;
}

.form .col-2 {
  grid-column: span 2;
}

.form input[type="text"],
.form input[type="tel"],
.form input[type="email"],
.form textarea {
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--c1);
  border: 1px solid var(--c2);
  padding: 12px;
  border-radius: 4px;
  width: 100%;
}

.form input[type="text"]:focus,
.form input[type="tel"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  outline: none;
  border-color: var(--p1);
  background-color: var(--c0);
  box-shadow: 0 0 0 2px var(--p0);
}

@media (max-width: 600px) {
  .form .col-2 {
    grid-column: 1;
  }
}
