:root {
  /* Cores */
  --c0: #ffffff;
  --c1: #f7f7f7;
  --c2: #ededed;
  --c3: #dedede;
  --c4: #cccccc;
  --c5: #b2b2b2;
  --c6: #9c9c9c;
  --c7: #717171;
  --c8: #595959;
  --c9: #404040;
  --c10: #2e2e2e;
  --c11: #111111;
  --c12: #000000;
  --p0: #ffeeaa;
  --p1: #ffbb00;
  --p1-1: #ffb60d;
  --p2: #e4a30b;
  --p2-1: #e59317;
  --p3: #a66f00;
  --p4: #664400;
  --p5: #332200;
  --s1: #317a00;
  --w1: #e00000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--c11);
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

span {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

img[src$=".jpg"] {
  border-radius: 4px;
  height: 100%;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

.grid-2c {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.font1-600 {
  font-weight: 600;
}

.font2-400 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.font2-500 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.font3-900 {
  font-family: "Merriweather", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: italic;
}

.font-color-p1 {
  color: var(--p1);
}

.font-color-p2 {
  color: var(--p2);
}

.font-color-p3 {
  color: var(--p3);
}

.font-color-p4 {
  color: var(--p4);
}

.font-color-p5 {
  color: var(--p5);
}

.btn {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 1.33;
  font-weight: 600;
  max-width: max-content;
  cursor: pointer;
}

.btn-p1 {
  background: linear-gradient(var(--p1), var(--p2));
  color: var(--p5);
}

.btn-p1:hover {
  background: linear-gradient(var(--p1-1), var(--p2-1));
}

.btn-c10 {
  background: var(--c10);
  color: var(--c2);
}

.btn-c10:hover {
  background: var(--c9);
}

.btn.seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  background: url(../img/icones/seta.svg);
  transition: transform 0.2s;
}

.btn.seta:hover::after {
  transform: translateX(4px);
}

.link {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1.5;
  transition: 0.3s;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: currentColor;
}

.link:hover {
  color: var(--c0);
}

.titulo-bg {
  background-color: var(--c11);
  padding-top: 60px;
  padding-bottom: 60px;
}

.titulo {
  position: relative;
}

.titulo::after {
  content: "";
  display: block;
  height: 52px;
  width: 52px;
  position: absolute;
  background-image: url(../img/dec/top-right.svg);
  top: 0;
  right: 20px;
}

.titulo p {
  color: var(--c5);
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 4px;
}

.titulo h1 {
  color: var(--c0);
  text-transform: lowercase;
  font-size: 4rem;
  line-height: 1.125;
}

.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}
.js .fadeInUp {
  transform: translate3d(0, 20px, 0);
}
.js .fadeInRight {
  transform: translate3d(20px, 0, 0);
}
.js .fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}

.js [data-anime] {
  opacity: 0;
}

.js .anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
}

@media (max-width: 800px) {
  .grid-2c {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .btn {
    padding: 12px 16px;
    font-size: 1rem;
  }

  .titulo-bg {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .titulo p {
    font-size: 1rem;
    font-weight: 400;
  }

  .titulo h1 {
    font-size: 3rem;
  }
}

@media (max-width: 400px) {
  .titulo::after {
    display: none;
  }
}
