.header-bg {
  background-color: var(--c12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0;
  color: var(--c0);
  font-size: 1.125rem;
  transition: 0.3s;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  position: absolute;
  margin-top: 4px;
  height: 2px;
  width: 0;
  background-color: var(--c0);
  transition: 0.3s;
}

.header-menu a:hover:after {
  width: 100%;
  transition: 0.3s;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }

  .header-menu a {
    background-color: var(--c11);
    padding: 12px 16px;
    border-radius: 4px;
  }

  .header-menu a::after {
    display: none;
  }

  .header-menu a:hover {
    background-color: var(--c10);
    text-decoration: none;
    transition: 0.3s;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }

  .header-menu a {
    padding: 8px 12px;
    font-size: 0.875rem;
  }
}

@media (max-width: 500px) {
  .header {
    justify-content: center;
  }
}
