.lojas {
  padding-bottom: 120px;
}

.lojas h2 {
  grid-column: 1 / -1;
  font-size: 4rem;
  line-height: 1.125;
  margin-bottom: 20px;
}

.lojas-item img {
  border-radius: 4px 4px 0 0;
  height: 260px;
}

.lojas-item-conteudo {
  background-color: var(--c0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 32px 60px;
  border-radius: 0 0 4px 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 16px;
}

.lojas-item h3 {
  grid-column: 1 / -1;
  font-size: 2rem;
  line-height: 1.25;
  position: relative;
  display: flex;
  align-items: center;
  color: var(--c12);
}

.lojas-item h3::before {
  content: "";
  width: 12px;
  height: 8px;
  background-color: var(--p1);
  position: absolute;
  left: -24px;
}

.lojas-dados {
  border-left: 2px solid var(--c2);
  padding-left: 12px;
}

.lojas-dados p,
.lojas-dados a {
  font-size: 1rem;
  line-height: 2;
  color: var(--c8);
}

.lojas-dados a {
  display: block;
}

.lojas-horario {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  margin-left: -28px;
  gap: 8px;
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--c12);
}

.lojas-horario img {
  width: 20px;
  height: 20px;
}

@media (max-width: 1000px) {
  .lojas-item-conteudo {
    grid-template-columns: 1fr;
  }
}
