.parceiros {
  padding-top: 60px;
  padding-bottom: 120px;
}

.parceiros h2 {
  font-size: 4rem;
  line-height: 1.125;
  margin-bottom: 60px;
}

.parceiros-lista {
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 20px;
}

.parceiros-lista li {
  display: flex;
  padding: 32px;
  border-left: 2px solid var(--c2);
}

.parceiros-lista li:first-child,
.parceiros-lista li:nth-child(5) {
  border-left: none;
}

.parceiros-lista li:nth-child(n + 5) {
  border-top: 2px solid var(--c2);
}

.parceiros-lista img {
  margin: auto;
}

@media (max-width: 800px) {
  .parceiros-lista {
    grid-template-columns: 1fr 1fr;
  }

  .parceiros-lista li:nth-child(odd) {
    border-left: none;
  }

  .parceiros-lista li:nth-child(n + 3) {
    border-top: 2px solid var(--c2);
  }
}

@media (max-width: 600px) {
  .parceiros {
    padding-bottom: 60px;
  }

  .parceiros h2 {
    padding-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .parceiros h2 {
    font-size: 2rem;
    line-height: 1.125;
    margin-bottom: 40px;
  }

  .parceiros-lista li {
    padding: 20px;
  }
}
