.perguntas {
  padding-top: 120px;
  padding-bottom: 120px;
}

.perguntas h2 {
  margin-bottom: 60px;
  font-size: 4rem;
  line-height: 1.125;
}

.perguntas dl > div {
  padding: 20px;
  border-radius: 4px;
}

.perguntas dl > div:nth-child(odd) {
  background-color: var(--c1);
}

.perguntas dl {
  font-size: 1.125rem;
  line-height: 1.33;
}

.perguntas button {
  font-size: 1.125rem;
  line-height: 1.33;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border: none;
  width: 100%;
  background: none;
  text-align: left;
}

.perguntas button::before {
  content: "";
  display: inline-block;
  background-color: var(--p1);
  width: 12px;
  height: 8px;
}

.perguntas button::after {
  content: "";
  display: inline-block;
  background: url(../img/icones/seta-abrir.svg);
  width: 14px;
  height: 6px;
  transition: 0.3s;
}

.perguntas button:hover::after,
.perguntas button[aria-expanded="true"]::after {
  transform: rotate(180deg);
}

.js .perguntas dd {
  display: none;
}

.js .perguntas dd.ativa {
  display: block;
}

.perguntas dd {
  padding-top: 16px;
  padding-left: 20px;
  max-width: 80ch;
  color: var(--c9);
}

@media (max-width: 800px) {
  .perguntas {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .perguntas h2 {
    margin-bottom: 40px;
    font-size: 3rem;
  }
}
