@import url(./global.css);
@import url(./header.css);
@import url(./introducao.css);
@import url(./bicicletas-lista.css);
@import url(./tecnologia.css);
@import url(./parceiros.css);
@import url(./depoimento.css);
@import url(./seguros.css);
@import url(./footer.css);
@import url(./termos.css);
@import url(./bicicletas.css);
@import url(./vantagens.css);
@import url(./perguntas.css);
@import url(./bicicleta-detalhes.css);
@import url(./bicicleta-seguro.css);
@import url(./contato.css);
@import url(./formulario.css);
@import url(./lojas.css);
