.tecnologia-bg {
  background-color: var(--c11);
  box-shadow: inset 0 -80px var(--c0), inset 0 80px var(--c0);
}

.tecnologia {
  align-items: center;
  position: relative;
}

.tecnologia::after {
  content: "";
  display: block;
  height: 52px;
  width: 52px;
  position: absolute;
  background-image: url(../img/dec/bottom-left.svg);
  bottom: 160px;
  left: -170px;
}

.tecnologia-conteudo {
  padding-top: 160px;
  padding-bottom: 160px;
}

.tecnologia-conteudo h3 {
  color: var(--c5);
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0.15;
  display: block;
  margin-bottom: 20px;
}

.tecnologia-conteudo h2 {
  color: var(--c0);
  font-size: 4rem;
  line-height: 1.125;
  margin-bottom: 32px;
}

.tecnologia-conteudo p {
  color: var(--c5);
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.tecnologia-conteudo a {
  margin-bottom: 80px;
}

.tecnologia-lista li {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tecnologia-lista img {
  width: 24px;
}

.tecnologia-lista h4 {
  color: var(--c0);
  font-size: 1.5rem;
  line-height: 1.5;
  width: max-content;
}

.tecnologia-lista p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: initial;
}

.tecnologia-imagem {
  width: 100%;
  height: 100%;
  object-position: left;
}

@media (max-width: 800px) {
  .tecnologia-bg {
    box-shadow: initial;
  }

  .tecnologia-conteudo {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .tecnologia-conteudo a {
    margin-bottom: 60px;
  }

  .tecnologia-lista p {
    max-width: 60ch;
  }

  .tecnologia-imagem {
    display: none;
  }
}

@media (max-width: 600px) {
  .tecnologia-conteudo h2 {
    font-size: 3rem;
    line-height: 1.125;
  }

  .tecnologia-conteudo > p {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .tecnologia-conteudo a {
    margin-bottom: 60px;
    font-size: 1.125rem;
    line-height: 1.5;
  }

  .tecnologia-lista h4 {
    font-size: 1.25rem;
  }
}
